@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* background-color: #050A30; */
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px slategrey;
}

::-webkit-scrollbar-thumb {
    /* background: red; */
    box-shadow: inset 0 0 14px #3b82f4;
    border-radius: 10px;
}